.daypicker {
  width: 100%;
}

.daypicker__week-list {
  height: 3rem;
}

.daypicker__week-day {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.daypicker__day-matrix-row {
  height: 3rem;
}

.daypicker__day-matrix-element {
  padding: 0;
}

.daypicker__day-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.daypicker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 2.6rem;
  height: 2.6rem;

  text-align: center;

  border-width: 0.1rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 6px;

  transition-timing-function: ease-out;
  transition-duration: 0.5s;
  transition-property: border-color, background-color, color;
}

.daypicker__day[data-day] {
  cursor: pointer;
}

.daypicker__day[data-day]:not(.daypicker__day_today):hover {
  border-color: #8bc34a;
}

.daypicker__day_active:not(.daypicker__day_today) {
  color: white;

  background-color: #8bc34a;
}

.daypicker__day_faded {
  color: #bebebe;
}

.daypicker__day_today {
  color: white;

  background-color: #11b3a2;
}
