.-bem-section__inner {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  height: 100%;
}

.-bem-section__inner_home {
  position: relative;
}

.-bem-section__aside-image-block {
  align-self: stretch;
  box-sizing: border-box;
  width: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.-bem-section__aside-image-block_home {
  background-image: url("../assets/images/home-img.jpg");
}

.-bem-section__aside-image-block_skills {
  background-image: url("../assets/images/about-img.jpg");
}

.-bem-section__aside-image-block_experiences {
  background-image: url("../assets/images/experience-img.jpg");
}

.-bem-section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 50%;
  padding: 2rem 1.5rem;
}

.-bem-section__content_only {
  width: 100%;
}

.-bem-section__content_home {
  padding: 10rem 2rem;
}

.-bem-section__content_iconized {
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1.2rem;

  text-align: center;
}

.-bem-section__content-element {
  width: 100%;
}

.-bem-section__paragraph {
  margin: 1rem 0 0;
}

.-bem-section__home-button {
  margin-top: 1rem;
}

.-bem-section__list {
  margin: 1rem 0;
}

.-bem-section__icon {
  margin-bottom: 2rem;
}
