.-bem-page {
  margin: 0;

  scroll-behavior: smooth;
}

.-bem-page__flex-container {
  display: flex;
  flex-flow: row wrap;
}

.-bem-page__element_small {
  width: 25%;
}

.-bem-page__element_medium {
  width: 50%;
}

.-bem-page__element_big {
  width: 100%;
}

.-bem-page__element_theme_human {
  background-color: #f0e2d7;
}

.-bem-page__element_theme_light {
  background-color: #ffffff;
}

.-bem-page__element_theme_gold {
  color: white;

  background-color: #e4ae58;
}

.-bem-page__element_theme_orange {
  color: white;

  background-color: #e9714c;
}

.-bem-page__element_theme_darkness {
  color: white;

  background-color: #161616;
}

.-bem-page__element_theme_human .-bem-text_paragraph,
.-bem-page__element_theme_light .-bem-text_paragraph {
  color: #9b989f;
}

.-bem-page__element_theme_light .-bem-complex-title__subtitle {
  color: #e4ae58;
}

.-bem-page__site-logo {
  position: absolute;
  top: 4%;
  left: 11%;
}
