.-bem-section {
  display: flex;
  flex-wrap: wrap;
}

.-bem-section_home {
  position: relative;

  justify-content: center;
}

.-bem-section_columns_all {
  width: 100%;
}

.-bem-section_columns_two {
  width: 50%;
}

.-bem-section_columns_one {
  width: 25%;
}

.-bem-section_theme_grey {
  background-color: #f0e2d7;
}

.-bem-section_theme_white {
  background-color: #ffffff;
}

.-bem-section_theme_gold {
  color: white;

  background-color: #e4ae58;
}

.-bem-section_theme_orange {
  color: white;

  background-color: #e9714c;
}

.-bem-section_theme_black {
  color: white;

  background-color: #161616;
}

.-bem-section__aside-image-block {
  align-self: stretch;
  box-sizing: border-box;
  width: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.-bem-section__aside-image-block_home {
  background-image: url("../assets/images/home-img.jpg");
}

.-bem-section__aside-image-block_skills {
  background-image: url("../assets/images/about-img.jpg");
}

.-bem-section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 50%;
  padding: 2rem 1.5rem;
}

.-bem-section__content_only {
  width: 100%;
}

.-bem-section_home .-bem-section__content {
  padding: 10rem 2rem;
}

.-bem-section_home .-bem-complex-title__subtitle {
  font-size: 0.6rem;
  color: #9b989f;
}

.-bem-section_theme_grey .-bem-paragraph {
  color: #9b989f;
}

.-bem-section_home .-bem-button {
  margin-top: 1.3rem;
}

.-bem-section_iconized .-bem-section__content {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  text-align: center;
}
