@import url("/normalize.css");
@import url("./-bem-page.css");
@import url("./-bem-section.css");
@import url("./-bem-complex-title.css");
@import url("./-bem-button.css");
@import url("./-bem-list.css");
@import url("./-bem-progress-bar.css");
@import url("./-bem-icon.css");
@import url("./-bem-text.css");
@import url("./-bem-form.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
@import url("./brands.css");
@import url("./font-awesome.css");

html,
h1,
h2 {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

.-bem-section__home-button {
  transition: background-color 0.3s;
}

.-bem-section__home-button .-bem-button__inner {
  transition: color 0.3s;
}

.-bem-section__home-button:hover {
  background: #161616;
}

.-bem-section__home-button:hover .-bem-button__inner {
  color: #f0e2d7;
}

.-bem-section__home-button:active .-bem-button__inner {
  text-decoration-line: underline;
}

.-bem-form__submit:hover {
  color: white;

  background: rgba(0, 0, 0, 0);
}

.-bem-form__submit:active {
  background: rgba(255, 255, 255, 0.3);
}

.-bem-section__social-icon {
  transition-duration: 0.5s;
  transition-property: color, background-color;
}

.-bem-section__social-icon:hover {
  color: white;

  background: #9b989f;
}

.-bem-section__social-icon:active {
  outline: white solid 0.08rem;
  outline-offset: -0.2rem;
}

.-bem-section__citate-wrapper .-bem-section__icon {
  transition: color 0.4s;
}

.-bem-section__citate-wrapper .-bem-section__icon:hover {
  color: #fff236;
}

.-bem-section__copyright .-bem-text_link:hover {
  text-decoration-line: underline;
}

/*
@media (max-width: 1024px) and (orientation: landscape), (orientation: portrait) {
  .-bem-section_home .-bem-section__content {
    padding: 1.5rem 1.5rem;
  }
}
*/
@media (orientation: portrait) {
  .-bem-page__element_medium {
    width: 100%;
  }

  .-bem-page__element_small {
    width: 100%;
  }

  .-bem-section__aside-image-block {
    width: 100%;
    height: 50vh;
  }

  .-bem-section__content {
    width: 100%;
  }
}
/*
@media (max-width: 480px) and (orientation: portrait) {
  .-bem-section_home .-bem-section__content {
    padding: 1.5rem 1.5rem;
  }
}
*/
@media (orientation: portrait) {
  html {
    font-size: 30px;
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 25px;
  }
}

@media (max-width: 1823px) and (orientation: landscape) {
  html {
    font-size: 28px;
  }
}

@media (min-width: 1824px) {
  html {
    font-size: 1.5vw;
  }
}
