@import url("/normalize.css");
@import url("./-bem-section.css");
@import url("./-bem-site-logo.css");
@import url("./-bem-complex-title.css");
@import url("./-bem-paragraph.css");
@import url("./-bem-button.css");
@import url("./-bem-list.css");
@import url("./-bem-progress-bar.css");
@import url("./-bem-title.css");
@import url("./-bem-icon.css");
@import url("./-bem-span.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
@import url("./brands.css");
@import url("./font-awesome.css");

html {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 1024px) and (orientation: landscape), (orientation: portrait) {
  .-bem-section_home .-bem-section__content {
    padding: 1.5rem 1.5rem;
  }
}

@media (orientation: portrait) {
  .-bem-section_columns_two {
    width: 100%;
  }

  .-bem-section_columns_one {
    width: 100%;
  }

  .-bem-section__aside-image-block {
    height: 50vh;
  }

  .-bem-section__content {
    width: 100%;
  }

  .-bem-section__aside-image-block {
    width: 100%;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  .-bem-section_home .-bem-section__content {
    padding: 1.5rem 1.5rem;
  }
}

@media (orientation: portrait) {
  html {
    font-size: 30px;
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 25px;
  }
}

@media (max-width: 1823px) and (orientation: landscape) {
  html {
    font-size: 28px;
  }
}

@media (min-width: 1824px) {
  html {
    font-size: 1.5vw;
  }
}
