<table>
  <thead>
    <tr>
      <th>#</th>
      <th (click)="sort(SortBy.Tag)">tag</th>
      <th (click)="sort(SortBy.Name)">name</th>
      <th (click)="sort(SortBy.Price)">price</th>
      <th (click)="sort(SortBy.Amount)">amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records; let i = index">
      <td>{{i + 1}}</td>
      <td>{{record.product.tag}}</td>
      <td>{{record.product.name}}</td>
      <td>{{record.product.price}}</td>
      <td>{{record.product.amount}}</td>
    </tr>
  </tbody>
</table>
