.monthpicker__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 1.5rem;
  margin: 0;
  padding: 0;

  list-style: none;
}

.monthpicker__element {
  font-size: 0.8rem;
  line-height: 1em;
  color: #969696;
  text-transform: uppercase;

  cursor: pointer;

  transition: font-size 0.08s ease;
}

.monthpicker__element_active {
  font-weight: bolder;
  font-size: 1.3em;
  color: inherit;
}
