html {
  overflow: auto;

  font-size: 20px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;

  background: url("./assets/bg-image.png") repeat 0 0;
}

.body {
  width: 80%;
  max-width: 1080px;
  height: calc(100vh - 1rem - 20px - 40px);
  margin: 0 auto;
  margin-top: calc(1rem + 20px + 40px);
  overflow-y: auto;

  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);

  scroll-behavior: smooth;
}

.header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 30px;

  color: white;

  background-color: #38876f;
}

.header-title {
  display: block;
  margin: 0;
  margin-right: 30px;
  padding: 0;

  line-height: 1em;
  color: inherit;
}

.header-nav {
  display: flex;
  display: block;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  font-size: 0;
}

.header-nav-link {
  position: relative;

  display: inline-block;
  padding: 10px 25px;

  font-size: 1rem;
  line-height: 1em;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  transition: background-color 0.5s;
}

.header-nav-link:not(:last-child)::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 1px;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.5);
}

.header-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main {
  padding: 35px 50px;
}

.paragraph-title {
  margin-top: 0;
  padding-bottom: 0.25em;

  font-size: 2rem;
  color: #38876f;
  text-transform: capitalize;

  border-bottom: 2px solid #38876f;
}

.article:not(:first-child) {
  margin-top: 50px;
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.4em;
  text-indent: 2em;
}

.paragraph-img {
  max-width: 35%;
  margin: 30px;
}

.paragraph-img > img {
  display: block;
  margin: 0 auto;
}

.paragraph-img-caption {
  display: block;
  margin: 0;
  margin-top: 40px;
  padding: 0;

  font-style: italic;
  text-align: center;
  color: #646e74;
}

.float-left {
  float: left;
  margin-left: 0;
}

.float-right {
  float: right;
  margin-right: 0;
}

.citate-wrapper {
  position: relative;

  width: 60%;
  margin: 45px auto;
  padding: 35px 50px;

  text-align: center;

  border: 2px solid #38876f;
  border-right-width: 0;
  border-left-width: 0;
}

.citate-wrapper::before {
  content: "\201C";
  top: -0.4em;
}

.citate-wrapper::after {
  content: "\201D";
  bottom: -0.2em;
}

.citate-wrapper::before,
.citate-wrapper::after {
  position: absolute;
  left: calc(50% - 0.5em);

  display: block;
  height: 0.5em;
  padding: 0 0.25em;

  font-size: 60px;
  font-family: serif;
  color: #38876f;

  background-color: white;
}

.citate {
  display: block;

  font-style: italic;
  font-size: 1.2rem;
}

.citate-author {
  display: block;
  margin-top: 15px;

  font-size: 1.3rem;
  text-align: right;
}

.footer {
  padding: 35px;

  color: white;

  background-color: #004e36;
}

.footer-year {
  float: right;
}

@media all and (max-width: 788px) {
  .header-title {
    margin-bottom: 20px;
  }

  .body {
    width: 100%;
    margin-top: calc(1rem + 20px + 40px + 2rem + 20px);
  }

  .main {
    padding-right: 35px;
    padding-left: 35px;
  }
}
